﻿

/* user image section */
.user-section {
    margin-top:20px;
    font-size:22px;
    background-color:rgb(35,94,170);
}
.user-section-inner {
    height: 65px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-top: 20px;
}
.user-section-inner img {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 60px;
    margin: auto;
    padding: 5px;
    width: 60px;
        
    }
.user-info {
    display: block;
    color:#fff!important;
display: inline-block;
padding: 15px;
margin-bottom: 0px;
text-align: center;
width: 100%;

}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* side-menu section */
.custom-1 > li > a:hover, .custom-1 > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .custom-1 .open > a:hover, .custom-1 .open > a:focus {
    background-color: #75C5B8;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.custom-1 > li > a {
padding: 20px 15px;
}
.mr {margin-right: 20px;}
#side-menu {
    background-color:rgb(35,94,170);
}

 #side-menu a {
            color:#fff;
           height: 55px;
        }
        .selected {
            background-color: #1a467f;
        }
/* back colors */
        .blue {
            background-color:rgb(113, 159, 241);
        }
         .green {
            background-color:rgb(144, 236, 192);
        }
          .red {
            background-color:rgb(255, 102, 133);
        }
        .yellow {
            background-color:rgb(244,67,54);
        }

  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
/* tap nvbar Section */

#navbar {
    background-color:rgb(255, 255, 255);
}

.navbar-brand {
    padding:8px 7px;
}
.navbar-brand img {
    height:40px;
}
.top-label {
    position: absolute;
top: 50%;
right: 50%;
margin-top: -24px;
margin-right: -24px;
}

/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#84B899;
}

.margin-tips {
    margin:5px;
}
.navbar-default {
border-color: transparent;
}




.add_more {padding: 10px 0;}
.add_more .btn_speciality {float: right;}
.num-cntr {text-align: center;}
.tab_panel {  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;  
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3px 0;}

.dr_list0 {padding-top: 15px; border-bottom: 1px solid #efefef;}
.dr_list0 .call_dr  {  text-decoration: none;
                         background: green none repeat scroll 0 0;
                        border-radius: 3px;margin-top: -6px;
                        color: #fff;float: right;
                        padding: 3px 6px;}
.dr_list0 .del_dr  {   text-decoration: none;
                         background: rgb(233,31,45) none repeat scroll 0 0;
                        border-radius: 3px;margin-top: -6px;
                        color: #fff;float: right;
                        padding: 4px 7px;}
.login_drop_doctors {margin-top: 5px;}
.add_more_modal {padding: 0 0 14px;}
.add_more_modal button {border-radius: 0;}

.modal-footer {padding: 2px;}
.upload_msg {text-align: center; padding-top: 10px;}
.upload_msg img {margin: auto;display: block;}
.upload_file i {color: #fff;}



/****** LOGIN MODAL ******/
.loginmodal-container {
  background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 350px;
    padding: 9px 16px 8px;
    width: 100% !important;
    box-shadow: #000 0px 0px 6px 1px;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 30px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.dropdown-menu {min-width: 80px;}

.footer_btn {border-top: 1px solid #efefef;
            margin-top: 20px;
            padding-top: 10px;}

.footer_btn .btn-mod-ok button {padding: 6px 36px;float: right;}
.footer_btn .btn-mod-can button {padding: 6px 25px;float: left;}

.success_body img {margin: auto;display: block;}
.success_body h4 {font-size: 22px;text-align: center;}



/*media queries*/

@media(min-width:768px) 
{
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1000px;
       
       
    }

}

@media(max-width:768px) {
#wrapper {
    margin-top:140px!important;
    
}
}



/*Login*/

.white{
    color:#000;
    background-color:#fff;
}

